[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "reference-impl"]
	path = reference-impl
	url = https://github.com/zdarin/supabase-passkey-simplewebauthn.git
